  /*******************************/
  /***  input search grop css  ***/
  /*******************************/

  .input-group {
    flex: unset;
    width: 50%;
    margin: 0 25%;
  }

  .btn-outline-danger {
    font-weight: 700;
  }

  .form-control {
    background-color: #eeead400;
  }

  .form-control:hover {
    background-color: #eeead4c9;
    color: rgb(44, 44, 44);
  }

  .form-control:active {
    color: rgb(44, 44, 44);
  }

  .form-control:focus {
    border-color: navajowhite;
  }


  /**************************/
  /***  quotes css below  ***/
  /**************************/

  .table {
    margin: 2%;
    margin-left: 10%;
    width: 80%;
    box-shadow: 4px 4px 10px rgba(100, 69, 40, 0.719);
  }

  .table td {
    border: 2px solid rgb(238, 161, 93);
    background-color: #eeead4;
    line-height: 1;
    vertical-align: middle;
  }

  .table tr {
    vertical-align: middle;
  }

  p {
    margin: 5px;
  }

  .table .a {
    color: rgb(92, 92, 92);
  }

  td {
    width: auto;
  }


  /**************************/
  /***  mobile css below  ***/
  /**************************/

  @media screen and (max-width: 992px) {

    .input-group {
      width: 72%;
      margin: 0 14%;
    }

    .table {
      display: block;
      width: 96%;
      margin: 2%;
      word-wrap: break-word;
    }

    .table-responsive-sm {
      max-width: 98%;
    }

  }
