<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br>
  <h1>Tronald Dump</h1>
  <img width="140" alt="Tronald Picture" routerLink='' src="https://assets.tronalddump.io/img/tronalddump_850x850.png"
    (click)='sayOuch()' (click)='status=!status' [ngClass]="status ? 'animated shake' : 'animated'" title="Try me!">
  <br>{{ouch}}<br>
  <h5>Fun web archive for the dumbest things Donald Trump has ever said.</h5>
  <br>
  <button class="btn btn-warning" routerLink='/random-quote'>Random Tweets</button>
  <button class="btn btn-warning" routerLink='/random-meme'>Random Memes</button>
  <button class="btn btn-warning" routerLink='/find-quote'>Find Quotes</button>
  <button class="btn btn-warning" routerLink='/tagged-people'>Trump's Hashtags</button>
</div>

<br>

<div class="text-center">
  <router-outlet></router-outlet>
</div>
