.imgMeme {
  object-fit: cover;
  width: 44%;
  margin: 5%;
}

.memeBtn {
  margin-bottom: -2.5%;
}

@media screen and (max-width: 992px) {
  .imgMeme {
    object-fit: cover;
    width: 92%;
    margin: 4%;
  }
} 
